@use '../../styles';

@include styles.pageHeaderFaded(0px 0px 50px 0px);

.about-main {
  position: relative;
  @include styles.flexCenter(center, column);
  width: 100vw;
  .about-body {
    @include styles.flexCenter(flex-start, column);
    .mobile-hero-container {
      display: none;
      @media screen and (max-width: styles.$screen-md-max) {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
      }
      .hero-image-mobile-outer {
        display: none;
        @media screen and (max-width: styles.$screen-md-max) {
          position: relative;
          display: flex;
          width: 100%;
          height: auto;
        }
      }
      .white-block-mobile {
        display: none;
        @media screen and (max-width: styles.$screen-md-max) {
          display: flex;
          position: absolute;
          width: 90%;
          height: 10vw;
          left: 0;
          bottom: 0;
          background-color: white;
        }
      }
    }
    .container {
      position: relative;
      max-width: 1092px;
      width: 80%;
      margin: calc(2vh + 12px) 0px 0px 0px;
      @media screen and (max-width: styles.$screen-md-max) {
        width: 95%;
        margin: 0px 0px 0px 0px;
      }
      .hero-container {
        position: relative;
        @include styles.flexCenter(flex-start, row);
        @media screen and (max-width: styles.$screen-md-max) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .about {
          position: absolute;
          top: 100px;
          right: 0;
          font-size: 200px;
          z-index: 9999;
          color: styles.$very-light-grey;
          @media screen and (max-width: styles.$screen-lg-max) {
            font-size: 23vw;
          }
          @media screen and (max-width: styles.$screen-md-max) {
            display: none;
          }
        }
        .hero-image {
          width: 635px;
          height: 720px;
          object-fit: cover;
          @media screen and (max-width: styles.$screen-lg-max) {
            width: 100%;
          }
          @media screen and (max-width: styles.$screen-md-max) {
            display: none;
          }
        }
        .hero-image-mobile {
          display: none;
          position: relative;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
        .hero-text-container {
          position: absolute;
          width: 60%;
          height: 500px;
          background-color: white;
          right: 0;
          bottom: 0;
          @media screen and (max-width: styles.$screen-lg-max) {
            width: 90%;
          }
          @media screen and (max-width: styles.$screen-md-max) {
            position: relative;
            width: 90%;
            height: 300px;
            right: 5vw;
          }
          .hero-inner-text-container {
            position: absolute;
            width: 80%;
            bottom: 0;
            right: 10px;
            @media screen and (max-width: styles.$screen-md-max) {
              width: 95%;
            }
            .header-line {
              margin: 0px 0px 80px 0px;
              @media screen and (max-width: styles.$screen-md-max) {
                display: none;
              }
            }
            .h2 {
              font-size: 56px;
              line-height: 56px;
              color: styles.$very-dark-blue;
              margin: 0px 0px 50px 0px;
              padding: 5px 0px;
              @media screen and (max-width: styles.$screen-md-max) {
                font-size: 40px;
                line-height: 48px;
                margin: 0px 0px 25px 0px;
              }
            }
            .p-body {
              font-size: 15px;
              line-height: 25px;
              color: styles.$very-dark-blue;
              font-weight: 500;
            }
          }
        }
      }
      .heritage-container {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 50px 0px 50px 0px;
        margin: 150px 0px;
        @include styles.flexCenter(space-between, row);
        @media screen and (max-width: styles.$screen-md-max) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px 0px;
          margin: 60px 0px 100px 0px;
          width: 95%;
        }
        .heritage-text-container {
          position: relative;
          width: 50%;
          height: 100%;
          margin: 0px 50px 0px 0px;
          @media screen and (max-width: styles.$screen-lg-max) {
            width: 100%;
          }
          @media screen and (max-width: styles.$screen-md-max) {
            width: 95%;
            margin: 0px 0px 0px 0px;
          }
          .header-line {
            margin: 0px 0px 50px 0px;
          }
          .h2 {
            font-size: 56px;
            line-height: 56px;
            color: styles.$very-dark-blue;
            margin: 0px 0px 50px 0px;
            padding: 5px 0px;
          }
          .p-body {
            width: 90%;
            font-size: 15px;
            line-height: 25px;
            color: styles.$very-dark-blue;
            font-weight: 500;
            margin: 0px 0px 25px 0px;
          }
        }
        .heritage {
          @media screen and (max-width: styles.$screen-lg-max) {
            display: none;
          }
        }
      }
      .leaders-container {
        position: relative;
        @include styles.flexCenter(space-between, row);
        width: 100%;
        height: auto;
        margin: 0px 0px 150px 0px;
        @media screen and (max-width: styles.$screen-lg-max) {
          flex-direction: column;
          margin: 0px 0px 0px 0px;
        }
        .header-container {
          display: flex;
          width: 40%;
          height: 900px;
          @media screen and (max-width: styles.$screen-lg-max) {
            width: 100%;
            height: auto;
          }
          @media screen and (max-width: styles.$screen-md-max) {
            width: 95%;
            margin: 0px 0px 0px 0px;
          }
          .h2 {
            font-size: 56px;
            line-height: 56px;
            color: styles.$very-dark-blue;
            margin: 0px 0px 50px 0px;
            padding: 5px 0px;
          }
        }
        .quad-container {
          position: relative;
          @include styles.flexCenter(center, row);
          @media screen and (max-width: styles.$screen-md-max) {
            @include styles.flexCenter(center, column);
            width: 95%;
            height: auto;
          }
          .spacing {
            width: 100%;
            height: 5vh;
          }
          .couple-container {
            position: relative;
            @include styles.flexCenter(center, column);
            margin: 0px 0px 0px 25px;
            @media screen and (max-width: styles.$screen-md-max) {
              width: 95%;
              height: auto;
              margin: 0px 0px 5vh 0px !important;
              overflow: hidden;
            }
            .architect-profile-jake {
              position: relative;
              @include styles.flexCenter(center, row);
              width: 350px;
              height: 320px;
              background-image: url(../../Assets/about/desktop/avatar-jake.jpg);
              background-size: contain;
              background-repeat: no-repeat;
              @media screen and (max-width: styles.$screen-md-max) {
                width: 100%;
                height: 100vw;
              }
              &:hover {
                filter: brightness(60%);
                .linkedin {
                  display: block;
                }
                .twitter {
                  display: block;
                }
              }
            }
            .linkedin {
              display: none;
              position: relative;
              width: 40px;
              height: 40px;
              object-fit: cover;
              margin: 0px 20px 0px 0px;
            }
            .twitter {
              display: none;
              position: relative;
              width: 35px;
              height: 35px;
              object-fit: cover;
              margin: 0;
            }
            .description {
              width: 100%;
              @media screen and (max-width: styles.$screen-md-max) {
                margin: -20vw 0px 0px 0px;
              }
              .name {
                font-size: 18px;
                line-height: 25px;
                color: styles.$very-dark-blue;
                margin: 15px 0px 0px 0px;
              }
              .title {
                font-size: 15px;
                line-height: 25px;
                color: styles.$very-dark-blue;
                font-weight: 500;
                margin: 7.5px 0px 0px 0px;
              }
            }
            .architect-profile-thompson {
              position: relative;
              @include styles.flexCenter(center, row);
              width: 350px;
              height: 320px;
              background-image: url(../../Assets/about/desktop/avatar-thompson.jpg);
              background-size: contain;
              background-repeat: no-repeat;
              @media screen and (max-width: styles.$screen-md-max) {
                width: 100%;
                height: 100vw;
              }
              &:hover {
                filter: brightness(60%);
                .linkedin {
                  display: block;
                }
                .twitter {
                  display: block;
                }
              }
            }
            .linkedin {
              display: none;
              position: relative;
              width: 40px;
              height: 40px;
              object-fit: cover;
              margin: 0px 20px 0px 0px;
            }
            .twitter {
              display: none;
              position: relative;
              width: 35px;
              height: 35px;
              object-fit: cover;
              margin: 0;
            }
            .description {
              width: 100%;
              @media screen and (max-width: styles.$screen-md-max) {
                margin: -20vw 0px 0px 0px;
              }
              .name {
                font-size: 18px;
                line-height: 25px;
                color: styles.$very-dark-blue;
                margin: 15px 0px 0px 0px;
              }
              .title {
                font-size: 15px;
                line-height: 25px;
                color: styles.$very-dark-blue;
                font-weight: 500;
                margin: 7.5px 0px 0px 0px;
              }
            }
          }
          .couple-container {
            position: relative;
            @include styles.flexCenter(center, column);
            margin: 0px 0px 0px 25px;
            @media screen and (max-width: styles.$screen-md-max) {
              width: 95%;
              height: auto;
              margin: 0px 0px 5vh 0px !important;
              overflow: hidden;
            }
            .architect-profile-jackson {
              position: relative;
              @include styles.flexCenter(center, row);
              width: 350px;
              height: 320px;
              background-image: url(../../Assets/about/desktop/avatar-jackson.jpg);
              background-size: contain;
              background-repeat: no-repeat;
              @media screen and (max-width: styles.$screen-md-max) {
                width: 100%;
                height: 100vw;
              }
              &:hover {
                filter: brightness(60%);
                .linkedin {
                  display: block;
                }
                .twitter {
                  display: block;
                }
              }
            }
            .linkedin {
              display: none;
              position: relative;
              width: 40px;
              height: 40px;
              object-fit: cover;
              margin: 0px 20px 0px 0px;
            }
            .twitter {
              display: none;
              position: relative;
              width: 35px;
              height: 35px;
              object-fit: cover;
              margin: 0;
            }
            .description {
              width: 100%;
              @media screen and (max-width: styles.$screen-md-max) {
                margin: -20vw 0px 0px 0px;
              }
              .name {
                font-size: 18px;
                line-height: 25px;
                color: styles.$very-dark-blue;
                margin: 15px 0px 0px 0px;
              }
              .title {
                font-size: 15px;
                line-height: 25px;
                color: styles.$very-dark-blue;
                font-weight: 500;
                margin: 7.5px 0px 0px 0px;
              }
            }
            .architect-profile-maria {
              position: relative;
              @include styles.flexCenter(center, row);
              width: 350px;
              height: 320px;
              background-image: url(../../Assets/about/desktop/avatar-maria.jpg);
              background-size: contain;
              background-repeat: no-repeat;
              @media screen and (max-width: styles.$screen-md-max) {
                width: 100%;
                height: 100vw;
              }
              &:hover {
                filter: brightness(60%);
                .linkedin {
                  display: block;
                }
                .twitter {
                  display: block;
                }
              }
            }
            .linkedin {
              display: none;
              position: relative;
              width: 40px;
              height: 40px;
              object-fit: cover;
              margin: 0px 20px 0px 0px;
            }
            .twitter {
              display: none;
              position: relative;
              width: 35px;
              height: 35px;
              object-fit: cover;
              margin: 0;
            }
            .description {
              width: 100%;
              @media screen and (max-width: styles.$screen-md-max) {
                margin: -20vw 0px 0px 0px;
              }
              .name {
                font-size: 18px;
                line-height: 25px;
                color: styles.$very-dark-blue;
                margin: 15px 0px 0px 0px;
              }
              .title {
                font-size: 15px;
                line-height: 25px;
                color: styles.$very-dark-blue;
                font-weight: 500;
                margin: 7.5px 0px 0px 0px;
              }
            }
          }
        }
      }
    }
  }
}
