/* GLobal color variables */

$very-dark-blue: rgba(27, 29, 35, 1);

$dark-grey: rgba(96, 99, 109, 1);

$medium-grey: rgba(125, 130, 143, 1);

$light-grey: rgba(200, 204, 216, 1);

$very-light-grey: rgba(238, 239, 244, 1);

$red-errors: rgba(223, 86, 86, 1);
