@mixin flexCenter($justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

@mixin button($position, $top, $right, $margin) {
  .button {
    position: $position;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 52px;
    background-color: rgba(27, 29, 35, 1);
    padding: 0px 10px 0px 10px;
    top: $top;
    right: $right;
    margin: $margin;
    cursor: pointer;
    z-index: 3;
    @media (max-width: 421px) {
      width: 187px;
      height: 72px;
    }
    &:hover {
      background-color: rgba(96, 99, 109, 1);
    }
    &:active {
      background-color: rgba(125, 130, 143, 1);
    }
    .button-text {
      color: white;
      font-size: 10px;
      letter-spacing: 0.7px;
      font-weight: 700;
      margin: 0px 0px 0px 10px;
      @media (max-width: 421px) {
        font-size: 15px;
      }
    }
    .button-arrow {
      width: 24px;
      height: 18px;
      margin: 0px 5px 0px 20px;
    }
  }
}

@mixin footerButton($position, $top, $right, $margin) {
  .button {
    position: $position;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 52px;
    background-color: rgba(27, 29, 35, 1);
    padding: 0px 10px 0px 10px;
    top: $top;
    right: $right;
    margin: $margin;
    cursor: pointer;
    z-index: 3;

    @media (max-width: 1025px) {
      width: 222px;
      height: 60px;
    }
    @media (max-width: 768px) {
      display: none;
    }
    &:hover {
      background-color: rgba(96, 99, 109, 1);
    }
    &:active {
      background-color: rgba(125, 130, 143, 1);
    }
    .button-text {
      color: white;
      font-size: 10px;
      letter-spacing: 0.7px;
      font-weight: 700;
      margin: 0px 0px 0px 10px;
      @media (max-width: 1025px) {
        font-size: 12.5px;
      }
      @media (max-width: 421px) {
        font-size: 15px;
      }
    }
    .button-arrow {
      width: 24px;
      height: 18px;
      margin: 0px 5px 0px 20px;
    }
  }
}

@mixin footerButtonMobile($position, $top, $right) {
  .button-mobile {
    display: none;
    @media (max-width: 768px) {
      position: $position;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 250px;
      height: 57.5px;
      background-color: rgba(27, 29, 35, 1);
      padding: 0px 10px 0px 10px;
      margin: 30px 0px 0px 0px;
      top: $top;
      right: $right;
      cursor: pointer;
      z-index: 3;
      overflow: hidden;
    }
    &:hover {
      background-color: rgba(96, 99, 109, 1);
    }
    &:active {
      background-color: rgba(125, 130, 143, 1);
    }
    .button-text {
      color: white;
      font-size: 10px;
      letter-spacing: 0.7px;
      font-weight: 700;
      margin: 0px 0px 0px 10px;
      @media (max-width: 1025px) {
        font-size: 12.5px;
      }
      @media (max-width: 421px) {
        font-size: 12px;
      }
    }
    .button-arrow {
      width: 24px;
      height: 18px;
      margin: 0px 5px 0px 20px;
    }
  }
}

@mixin featured($position, $top, $right, $margin) {
  .button {
    position: $position;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 52px;
    background-color: rgba(27, 29, 35, 1);
    padding: 0px 10px 0px 10px;
    top: $top;
    right: $right;
    margin: $margin;
    cursor: pointer;
    z-index: 3;
    @media screen and (max-width: 500px) {
      display: none;
    }
    &:hover {
      background-color: rgba(96, 99, 109, 1);
    }
    &:active {
      background-color: rgba(125, 130, 143, 1);
    }
    .button-text {
      color: white;
      font-size: 10px;
      letter-spacing: 0.7px;
      font-weight: 700;
      margin: 0px 0px 0px 10px;
    }
    .button-arrow {
      width: 24px;
      height: 18px;
      margin: 0px 5px 0px 20px;
    }
  }
}

@mixin pageHeaderFaded($margin) {
  .page-header-faded {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 3.75vw;
    width: 25px;
    height: 100%;
    @media (max-width: 1025px) {
      left: 3vw;
    }
    @media (max-width: 768px) {
      display: none;
    }
    @media (max-width: 421px) {
      display: none;
    }
    .page-line {
      position: relative;
      margin: $margin;
    }
    .current-page {
      font-size: 15px;
      letter-spacing: 16px;
      font-weight: 500;
      transform: rotate(0.25turn);
      color: rgba(200, 204, 216, 1);
    }
  }
}

@mixin portfolioCardDesktop1($screen, $name) {
  .card1 {
    position: relative;
    width: 350px;
    height: 560px;
    $url: "../Assets/portfolio/#{$screen}/#{$name}.jpg";
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url($url);
    background-repeat: no-repeat;
    margin: 0px 40px 0px 0px;
    background-size: cover;
    @media screen and (max-width: 1025px) {
      width: 100%;
      margin: 0px 0px 40px 0px;
    }
    &:hover {
      filter: brightness(120%);
    }
    .featured-text-container {
      position: absolute;
      width: 200px;
      bottom: 50px;
      color: white;
      margin: 0px 0px 0px 30px;
      @media screen and (max-width: 768px) {
        width: 300px;
      }
      @media screen and (max-width: 421px) {
        margin: 0px 0px 0px 15px;
      }
      .featured-card-header {
        position: absolute;
        font-size: 18px;
        line-height: 25px;
      }
      .p-body {
        position: relative;
        font-size: 15px;
        line-height: 25px;
        font-weight: 500;
        margin: 35px 0px 0px 0px;
      }
    }
  }
}

@mixin portfolioCardDesktop2($screen, $name) {
  .card2 {
    position: relative;
    width: 350px;
    height: 560px;
    $url: "../Assets/portfolio/#{$screen}/#{$name}.jpg";
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url($url);
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 0px 40px 0px 0px;
    background-size: cover;
    @media screen and (max-width: 1025px) {
      width: 100%;
      margin: 0px 0px 40px 0px;
    }
    &:hover {
      filter: brightness(120%);
    }
    .featured-text-container {
      position: absolute;
      width: 200px;
      bottom: 50px;
      color: white;
      margin: 0px 0px 0px 30px;
      @media screen and (max-width: 768px) {
        width: 300px;
      }
      @media screen and (max-width: 421px) {
        margin: 0px 0px 0px 15px;
      }
      .featured-card-header {
        position: absolute;
        font-size: 18px;
        line-height: 25px;
      }
      .p-body {
        position: relative;
        font-size: 15px;
        line-height: 25px;
        font-weight: 500;
        margin: 35px 0px 0px 0px;
      }
    }
  }
}

@mixin portfolioCardDesktop3($screen, $name) {
  .card3 {
    position: relative;
    width: 350px;
    height: 560px;
    $url: "../Assets/portfolio/#{$screen}/#{$name}.jpg";
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url($url);
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 0px 40px 0px 0px;
    background-size: cover;
    @media screen and (max-width: 1025px) {
      width: 100%;
      margin: 0px 0px 40px 0px;
    }
    &:hover {
      filter: brightness(120%);
    }
    .featured-text-container {
      position: absolute;
      width: 200px;
      bottom: 50px;
      color: white;
      margin: 0px 0px 0px 30px;
      @media screen and (max-width: 768px) {
        width: 300px;
      }
      @media screen and (max-width: 421px) {
        margin: 0px 0px 0px 15px;
      }
      .featured-card-header {
        position: relative;
        font-size: 18px;
        line-height: 25px;
        position: absolute;
      }
      .p-body {
        position: relative;
        font-size: 15px;
        line-height: 25px;
        font-weight: 500;
        margin: 35px 0px 0px 0px;
      }
    }
  }
}
