@use '../../styles';

@include styles.pageHeaderFaded(0px 0px 20px 0px);

.home-main {
  position: relative;
  @include styles.flexCenter(center, column);
  width: 100vw;
  .home-body {
    @include styles.flexCenter(flex-start, column);
    .container {
      position: relative;
      max-width: 1092px;
      width: 80%;
      margin: calc(2vh + 12px) 0px 0px 0px;
      .home-slide {
        max-width: 1110;
        height: auto;
        background-image: url(../../Assets/home/desktop/image-hero-paramour.jpg);
        object-fit: cover;
        .h1-small {
          color: white;
        }
        .p-body {
          font-size: 15px;
          color: white;
        }
        @include styles.button(absolute, none, none, 0);
      }
      .welcome {
        position: relative;
        width: 100%;
        height: auto;
        margin: 60px 0px 60px 0px;
        @include styles.flexCenter(flex-end, row);
        .h1-large {
          position: absolute;
          color: styles.$very-light-grey;
          margin: 0px 0px 0px 100px;
          top: 0;
          left: 0;
          font-size: 12vw;
          z-index: 9999;
        }
        .welcome-text-image-container {
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: calc(auto + 200px);
          .welcome-text {
            position: relative;
            @include styles.flexCenter(flex-start, column);
            width: 550px;
            margin: 12vw 50px 0px 0px;
            .h1-small {
              font-size: 56px;
              line-height: 56px;
              color: styles.$very-dark-blue;
              margin: 0px 0px 40px 0px;
            }
            .p-body {
              font-size: 15px;
              line-height: 25px;
              font-weight: 500;
              color: styles.$very-dark-blue;
              margin: 0px 0px 20px 0px;
            }
          }
          .welcome-image {
            width: 350px;
            height: 530px;
            object-fit: cover;
            margin: 80px 0px 0px 0px;
          }
        }
      }
      .small-team-container {
        position: relative;
        @include styles.flexCenter(center, column);
        width: 80vw;
        height: 560px;
        background-image: url(../../Assets/home/desktop/image-small-team.png);
        background-repeat: no-repeat;
        object-fit: cover;
        margin: 200px 0px 200px 0px;
        .text-button-container {
          width: 65%;
          height: 40%;
          .h2 {
            font-size: 56px;
            line-height: 56px;
            color: white;
            margin: 0px 0px 40px 0px;
            padding: 5px 0px;
          }
          @include styles.button(absolute, none, none, 0);
        }
      }
      .featured-and-button {
        @include styles.flexCenter(space-between, row);
        margin: 0px 0px 50px 0px;
        .h2 {
          font-size: 56px;
          color: styles.$very-dark-blue;
        }
        @include styles.button(relative, none, none, 0);
      }
      .cards-container {
        position: relative;
        @include styles.flexCenter(space-between, row);
        margin: 0px 0px 200px 0px;
        .featured-card-container1 {
          position: relative;
          width: 31%;
          height: 560px;
          @include styles.flexCenter(space-between, row);
          background-image: url(../../Assets/portfolio/desktop/image-del-sol.jpg);
          object-fit: cover;
          background-repeat: no-repeat;
          .featured-card-number {
            position: absolute;
            top: 0;
            right: 0px;
            font-size: 200px;
            width: 65px;
            color: styles.$very-light-grey;
            opacity: 0.6;
          }
          .featured-text-container {
            position: absolute;
            width: 200px;
            bottom: 50px;
            color: white;
            margin: 0px 0px 0px 30px;
            .featured-card-header {
              position: absolute;
              font-size: 18px;
              line-height: 25px;
            }
            .p-body {
              position: relative;
              font-size: 15px;
              line-height: 25px;
              font-weight: 500;
              margin: 35px 0px 0px 0px;
            }
          }
        }
        .featured-card-container2 {
          position: relative;
          width: 31%;
          height: 560px;
          @include styles.flexCenter(space-between, row);
          background-image: url(../../Assets/portfolio/desktop/image-228b.jpg);
          object-fit: cover;
          background-repeat: no-repeat;
          .featured-card-number {
            position: absolute;
            top: 0;
            right: 0px;
            font-size: 200px;
            width: 130px;
            color: styles.$very-light-grey;
            opacity: 0.6;
          }
          .featured-text-container {
            position: absolute;
            width: 200px;
            bottom: 50px;
            color: white;
            margin: 0px 0px 0px 30px;
            .featured-card-header {
              position: relative;
              font-size: 18px;
              line-height: 25px;
              position: absolute;
            }
            .p-body {
              position: relative;
              font-size: 15px;
              line-height: 25px;
              font-weight: 500;
              margin: 35px 0px 0px 0px;
            }
          }
        }
        .featured-card-container3 {
          position: relative;
          width: 31%;
          height: 560px;
          @include styles.flexCenter(space-between, row);
          background-image: url(../../Assets/portfolio/desktop/image-prototype.jpg);
          object-fit: cover;
          background-repeat: no-repeat;
          .featured-card-number {
            position: absolute;
            top: 0;
            right: 0px;
            font-size: 200px;
            width: 123px;
            color: styles.$very-light-grey;
            opacity: 0.6;
          }
          .featured-text-container {
            position: absolute;
            width: 200px;
            bottom: 50px;
            color: white;
            margin: 0px 0px 0px 30px;
            .featured-card-header {
              position: relative;
              font-size: 18px;
              line-height: 25px;
              position: absolute;
            }
            .p-body {
              position: relative;
              font-size: 15px;
              line-height: 25px;
              font-weight: 500;
              margin: 35px 0px 0px 0px;
            }
          }
        }
      }
    }
  }
}
