@use "../../styles";

@include styles.pageHeaderFadedHome();

.home-main {
  position: relative;
  @include styles.flexCenter(center, column);
  width: 100vw;
  height: auto;
  .home-body {
    position: relative;
    max-width: 1092px;
    width: 80%;
    height: auto;
    @include styles.flexCenter(flex-start, column);
    @media (max-width: styles.$screen-lg-max) {
      width: 85%;
    }
    @media (max-width: styles.$screen-sm-max) {
      width: 100%;
    }

    .container {
      position: relative;
      width: 100%;
      height: auto;
      margin: calc(2vh + 12px) 0px 0px 0px;
      @media (max-width: styles.$screen-sm-max) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 0px 0px;
      }
      .h1-large-mobile {
        display: none;
        @media (max-width: 550px) {
          display: block;
          position: absolute;
          color: styles.$very-light-grey;
          margin: 0px 0px 0px 0px;
          top: 0px;
          left: 0;
          font-size: 17vw;
          z-index: 9999;
        }
        @media (max-width: 500px) {
          display: block;
          position: absolute;
          color: styles.$very-light-grey;
          margin: 0px 0px 0px 0px;
          top: 0px;
          left: 0;
          font-size: 15vw;
          z-index: 9999;
        }
        @media (max-width: styles.$screen-sm-max) {
          display: none;
        }
      }
      .home-slide {
        max-width: 1110;
        height: auto;
        background-image: url(../../Assets/home/desktop/image-hero-paramour.jpg);
        object-fit: cover;
        .h1-small {
          color: white;
        }
        .p-body {
          font-size: 15px;
          color: white;
        }
        @include styles.button(absolute, none, none, 0);
      }
      .welcome {
        position: relative;
        width: 100%;
        height: auto;
        margin: 60px 0px 60px 0px;
        @include styles.flexCenter(flex-end, row);
        @media (min-width: 1400px) {
          height: 650px;
        }
        @media (max-width: styles.$screen-lg-max) {
          height: 650px;
          margin: 0px 0px 0px 0px;
        }
        @media (max-width: styles.$screen-sm-max) {
          height: auto;
          width: 90%;
          margin: 20px 0px 0px 0px;
        }
        .h1-large {
          position: absolute;
          color: styles.$very-light-grey;
          margin: 0px 0px 0px 0px;
          top: -30px;
          left: 0;
          font-size: 13.5vw;
          z-index: 9999;
          @media (min-width: 1400px) {
            font-size: 190px;
            top: -20px;
          }
          @media (max-width: styles.$screen-lg-max) {
            font-size: 17vw;
            top: 0px;
          }
          @media (max-width: styles.$screen-md-max) {
            font-size: 17vw;
            top: 0px;
          }
          @media (max-width: 550px) {
            display: none;
          }
        }
        .welcome-text-image-container {
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          height: auto;
          overflow: hidden;
          @media (max-width: styles.$screen-sm-max) {
            height: auto;
            padding: 30px 0px 0px 0px;
            margin: 0vw 0px 100px 0px;
          }
          .welcome-text {
            position: relative;
            @include styles.flexCenter(flex-start, column);
            width: 60%;
            height: auto;
            margin: 12vw 50px 0px 0px;
            @media (min-width: 1900px) {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              width: 60%;
              height: auto;
              margin: 5vw 40px 0px 0px;
            }
            @media (max-width: styles.$screen-lg-max) {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              width: 100%;
              height: auto;
              margin: 12vw 0px 0px 0px;
            }
            @media (max-width: styles.$screen-sm-max) {
              padding: 30px 0px 0px 0px;
              margin: 0vw 0px 0px 0px;
            }

            .welcome-line {
              display: none;
              @media (max-width: styles.$screen-sm-max) {
                position: relative;
                display: flex;
                width: 65px;
                height: 1px;
                background-color: styles.$light-grey;
                margin: 0px 0px 80px 0px;
              }
            }
            .h1-small {
              position: relative;
              display: block;
              font-size: 56px;
              line-height: 56px;
              color: styles.$very-dark-blue;
              width: 100%;
              height: 100%;
              margin: 0px 0px 40px 0px;
              overflow: hidden;
              @media (min-width: 1900px) {
                padding: 2vw 0vw 0vw 0vw;
              }
              @media (max-width: styles.$screen-lg-max) {
                width: 80%;
              }
              @media (max-width: 550px) {
                font-size: 10vw;
              }
              @media (max-width: styles.$screen-sm-max) {
                font-size: 40px;
                width: 100%;
              }
            }
            .p-body {
              position: relative;
              display: block;
              font-size: 15px;
              line-height: 25px;
              font-weight: 500;
              width: 100%;
              height: 100%;
              color: styles.$very-dark-blue;
              margin: 0px 0px 20px 0px;
              @media (max-width: 550px) {
                font-size: 15px;
              }
            }
          }
          .welcome-image {
            width: 350px;
            height: 530px;
            object-fit: cover;
            margin: 80px 0px 0px 0px;
            @media (max-width: styles.$screen-lg-max) {
              display: none;
            }
          }
        }
      }
      .small-team-container {
        position: relative;
        @include styles.flexCenter(center, column);
        width: 100%;
        height: 560px;
        background-image: url(../../Assets/home/desktop/image-small-team.png);
        background-repeat: no-repeat;
        object-fit: cover;
        margin: 200px 0px 200px 0px;
        @media (max-width: styles.$screen-lg-max) {
          margin: 0px 0px 85px 0px;
        }
        .text-button-container {
          width: 65%;
          height: 40%;
          @media (max-width: styles.$screen-lg-max) {
            width: 90%;
          }
          .h2 {
            font-size: 56px;
            line-height: 56px;
            color: white;
            margin: 0px 0px 20px 0px;
            padding: 5px 0px;
            @media (max-width: styles.$screen-lg-max) {
              font-size: 40px;
            }
          }
          @include styles.button(absolute, none, none, 0);
        }
      }
      .featured-and-button {
        @include styles.flexCenter(space-between, row);
        margin: 0px 0px 50px 0px;
        @media (max-width: styles.$screen-sm-max) {
          width: 90%;
        }
        .h2 {
          font-size: 56px;
          color: styles.$very-dark-blue;
          @media (max-width: 500px) {
            font-size: 40px;
          }
        }
        .button-container {
          display: block;
          @media (max-width: 500px) {
            display: none;
          }
          @include styles.button(relative, none, none, 0);
        }
      }
      .cards-container {
        position: relative;
        @include styles.flexCenter(space-between, row);
        margin: 0px 0px 200px 0px;
        @media (max-width: styles.$screen-lg-max) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 0px 0px 150px 0px;
        }
        @media (max-width: styles.$screen-sm-max) {
          width: 90%;
        }
        .featured-card-container1 {
          position: relative;
          width: 31%;
          height: 560px;
          @include styles.flexCenter(space-between, row);
          background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(65, 49, 49, 0.2)),
            url(../../Assets/portfolio/desktop/image-del-sol.jpg);
          object-fit: cover;
          background-repeat: no-repeat;
          @media (max-width: styles.$screen-lg-max) {
            width: 100%;
            height: 240px;
            margin: 0px 0px 40px 0px;
            background-size: cover !important;
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
              url(../../Assets/portfolio/tablet/image-del-sol.jpg);
          }
          .featured-card-number {
            position: absolute;
            top: 0;
            right: 0px;
            font-size: 200px;
            width: 65px;
            color: styles.$very-light-grey;
            opacity: 0.6;
            @media (max-width: styles.$screen-lg-max) {
              margin: 0px 20px 0px 0px;
            }
            @media (max-width: styles.$screen-sm-max) {
              display: none;
            }
          }
          .featured-text-container {
            position: absolute;
            width: 200px;
            bottom: 50px;
            color: white;
            margin: 0px 0px 0px 30px;
            .featured-card-header {
              position: absolute;
              font-size: 18px;
              line-height: 25px;
            }
            .active {
              color: styles.$white;
            }
            .p-body {
              position: relative;
              font-size: 15px;
              line-height: 25px;
              font-weight: 500;
              margin: 35px 0px 0px 0px;
            }
          }
        }
        .featured-card-container2 {
          position: relative;
          width: 31%;
          height: 560px;
          @include styles.flexCenter(space-between, row);
          background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(65, 49, 49, 0.2)),
            url(../../Assets/portfolio/desktop/image-228b.jpg);
          object-fit: cover;
          background-repeat: no-repeat;
          @media (max-width: styles.$screen-lg-max) {
            width: 100%;
            height: 240px;
            margin: 0px 0px 40px 0px;
            background-size: cover !important;
            background: linear-gradient(
                rgba(0, 0, 0, 0.2),
                rgba(65, 49, 49, 0.2)
              ),
              url(../../Assets/portfolio/tablet/image-228b.jpg);
          }
          .featured-card-number {
            position: absolute;
            top: 0;
            right: 0px;
            font-size: 200px;
            width: 130px;
            color: styles.$very-light-grey;
            opacity: 0.6;
            @media (max-width: styles.$screen-lg-max) {
              margin: 0px 20px 0px 0px;
            }
            @media (max-width: styles.$screen-sm-max) {
              display: none;
            }
          }
          .featured-text-container {
            position: absolute;
            width: 200px;
            bottom: 50px;
            color: white;
            margin: 0px 0px 0px 30px;
            .featured-card-header {
              position: relative;
              font-size: 18px;
              line-height: 25px;
              position: absolute;
            }
            .active {
              color: styles.$white;
            }
            .p-body {
              position: relative;
              font-size: 15px;
              line-height: 25px;
              font-weight: 500;
              margin: 35px 0px 0px 0px;
            }
          }
        }
        .featured-card-container3 {
          position: relative;
          width: 31%;
          height: 560px;
          @include styles.flexCenter(space-between, row);
          background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(65, 49, 49, 0.2)),
            url(../../Assets/portfolio/desktop/image-prototype.jpg);
          object-fit: cover;
          background-repeat: no-repeat;
          @media (max-width: styles.$screen-lg-max) {
            width: 100%;
            height: 240px;
            margin: 0px 0px 40px 0px;
            background-size: cover !important;
            background: linear-gradient(
                rgba(0, 0, 0, 0.2),
                rgba(65, 49, 49, 0.2)
              ),
              url(../../Assets/portfolio/tablet/image-prototype.jpg);
          }
          .featured-card-number {
            position: absolute;
            top: 0;
            right: 0px;
            font-size: 200px;
            width: 123px;
            color: styles.$very-light-grey;
            opacity: 0.6;
            @media (max-width: styles.$screen-lg-max) {
              margin: 0px 20px 0px 0px;
            }
            @media (max-width: styles.$screen-sm-max) {
              display: none;
            }
          }
          .featured-text-container {
            position: absolute;
            width: 200px;
            bottom: 50px;
            color: white;
            margin: 0px 0px 0px 30px;
            .featured-card-header {
              position: relative;
              font-size: 18px;
              line-height: 25px;
              position: absolute;
            }
            .active {
              color: styles.$white;
            }
            .p-body {
              position: relative;
              font-size: 15px;
              line-height: 25px;
              font-weight: 500;
              margin: 35px 0px 0px 0px;
            }
          }
        }
        .button-container-home-bottom {
          display: none;
          @media (max-width: 500px) {
            position: relative;
            display: flex;
            width: 100%;
            height: 72px;
          }
          a {
            position: relative;
            display: flex;
            width: 100%;
            height: auto;
            .button {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              width: 100%;
              height: 100%;
              background-color: rgba(27, 29, 35, 1);
              padding: 0px 10px 0px 10px;
              top: 0;
              right: 0;
              margin: 0;
              cursor: pointer;
              z-index: 3;
              .button-text {
                color: white;
                font-size: 15px;
                letter-spacing: 0.7px;
                font-weight: 700;
                margin: 0px 0px 0px 10px;
              }
              .button-arrow {
                width: 24px;
                height: 18px;
                margin: 0px 5px 0px 20px;
              }
            }
          }
        }
      }
    }
  }
}
