html,
body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

* {
  font-family: "Spartan", sans-serif;
  margin: 0px;
  /* border: 1px solid red; */
  overflow-x: hidden;
  outline: none;
  border: none;
}

.active {
  color: red;
}

a {
  text-decoration: none;
  overflow: none;
  color: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
  overflow: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
  overflow: none;
}
a:focus {
  text-decoration: none;
  color: inherit;
  overflow: none;
}
a:active {
  text-decoration: none;
  color: inherit;
  overflow: none;
}

.active a {
  text-decoration: underline;
  overflow: none;
}
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.input-initialized {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  width: 90%;
  height: 90px;
  border-bottom: 1px solid;
  border: none;
  outline: none;
  border-bottom: 1px rgba(27, 29, 35, 1) solid;
  width: 100%;
  margin: 0px 0px 15px 0px;
}

/* input:required:valid {
  border: 1px solid green;
} */

/* .error-text::after {
  position: absolute;
  content: "this is content";
  background-position: top 10px right 37.5px;
  top: 10px;
  right: 37.5px;
} */

/* input:required:invalid {
  border: 1px solid red;
} */

.input-initialized:required:valid {
  position: relative;
  display: flex;
  flex-direction: row;
  content: "";
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  width: 90%;
  height: 90px;
  border-bottom: 1px solid;
  border: none;
  outline: none;
  border-bottom: 1px rgba(27, 29, 35, 1) solid;
  width: 100%;
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px 25px 40px;
}

.input-initialized:required:valid:focus {
  position: relative;
  display: flex;
  flex-direction: row;
  content: "";
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  width: 90%;
  height: 90px;
  border-bottom: 1px solid;
  border: none;
  outline: none;
  border-bottom: 3px rgba(27, 29, 35, 1) solid;
  width: 100%;
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px 25px 40px;
}

.input-initialized::placeholder {
  font-weight: 700;
}

.textarea-initialized::placeholder {
  font-weight: 700;
}

.input-initialized:active {
  border-bottom: 3px rgba(27, 29, 35, 1) solid;
}

.input-initialized:focus {
  border-bottom: 3px rgba(27, 29, 35, 1) solid;
}

.input-initialized:placeholder-shown {
  color: #c8ccd8;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px 25px 40px;
}

/* Text area */

.message-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.textarea-initialized {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  width: 90%;
  height: 90px;
  border-bottom: 1px solid;
  border: none;
  outline: none;
  border-bottom: 1px rgba(27, 29, 35, 1) solid;
  width: 100%;
  margin: 0px 0px 15px 0px;
}

.textarea-initialized:required:valid {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  width: 90%;
  height: 90px;
  border-bottom: 1px solid;
  border: none;
  outline: none;
  border-bottom: 1px rgba(27, 29, 35, 1) solid;
  width: 100%;
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px 25px 40px;
}

.textarea-initialized::placeholder {
  font-weight: 700;
}

.textarea-initialized:active {
  border-bottom: 3px rgba(27, 29, 35, 1) solid;
}

.textarea-initialized:focus {
  border-bottom: 3px rgba(27, 29, 35, 1) solid;
}

.textarea-initialized:placeholder-shown {
  color: #c8ccd8;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px 25px 40px;
}

/*  Error messages */

.error-text-name::after {
  position: absolute;
  content: "Can't be empty";
  color: #df5656;
  font-size: 15px;
  background-position: right 10px top 3px;
  margin: -7px 0px 0px 0px;
  top: 90px;
  right: 37.5px;
}

.name-error::after {
  position: absolute;
  content: "Too Short";
  color: #df5656;
  font-size: 15px;
  background-position: right 10px top 3px;
  margin: -7px 0px 0px 0px;
  top: 90px;
  right: 37.5px;
}

.error-text-email::after {
  position: absolute;
  content: "Can't be empty";
  color: #df5656;
  font-size: 15px;
  background-position: right 10px top 3px;
  margin: -7px 0px 0px 0px;
  top: 90px;
  right: 37.5px;
}

.email-error::after {
  position: absolute;
  content: "Wrong format";
  color: #df5656;
  font-size: 15px;
  background-position: right 10px top 3px;
  margin: -7px 0px 0px 0px;
  top: 90px;
  right: 37.5px;
}

.error-text-message::after {
  position: absolute;
  content: "Can't be empty";
  color: #df5656;
  font-size: 15px;
  background-position: right 10px top 3px;
  margin: -7px 0px 0px 0px;
  top: 90px;
  right: 37.5px;
}

.name-input-error {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  width: 90%;
  height: 90px;
  border-bottom: 1px solid;
  border: none;
  outline: none;
  border-bottom: 1px #df5656 solid;
  width: 100%;
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px 25px 40px;
}

.name-input-error:focus {
  border-bottom: 3px #df5656 solid;
}

.name-input-error::placeholder {
  color: #df5656;
}

.email-input-error {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  width: 90%;
  height: 90px;
  border-bottom: 1px solid;
  border: none;
  outline: none;
  border-bottom: 1px #df5656 solid;
  width: 100%;
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px 25px 40px;
}

.email-input-error:focus {
  border-bottom: 3px #df5656 solid;
}

.email-input-error::placeholder {
  color: #df5656;
}

.message-input-error {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  width: 90%;
  height: 90px;
  border-bottom: 1px solid;
  border: none;
  outline: none;
  border-bottom: 1px #df5656 solid;
  width: 100%;
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px 25px 40px;
}

.message-input-error:focus {
  border-bottom: 3px #df5656 solid;
}

.message-input-error::placeholder {
  color: #df5656;
}

/* Slider */
