html,
body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

* {
  font-family: "Spartan", sans-serif;
  margin: 0px;
  /* border: 1px solid red; */
  overflow-x: hidden;
  outline: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

.active a {
  text-decoration: underline;
}
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
}

input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  width: 90%;
  height: 90px;
  border-bottom: 1px solid;
  border: none;
  outline: none;
  border-bottom: 1px rgba(27, 29, 35, 1) solid;
  width: 100%;
  margin: 0px 0px 15px 0px;
}

/* input:required:valid {
  border: 1px solid green;
} */
/* 
.error-text::after {
  position: absolute;
  content: "this is content";
  color: black;
  background-position: right 10px top 3px;
  margin: -7px 0px 0px 0px;
  top: 10px;
  right: 37.5px;
} */

/* .error-text::after {
  position: absolute;
  content: "this is content";
  background-position: top 10px right 37.5px;
  top: 10px;
  right: 37.5px;
} */

/* input:required:invalid {
  border: 1px solid red;
} */

input:required:valid {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  background: transparent;
  width: 90%;
  height: 90px;
  border-bottom: 1px solid;
  border: none;
  outline: none;
  border-bottom: 1px rgba(27, 29, 35, 1) solid;
  width: 100%;
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px 25px 40px;
}

input::placeholder {
  font-weight: 700;
}

textarea::placeholder {
  font-weight: 700;
}

input:active {
  border-bottom: 3px rgba(27, 29, 35, 1) solid;
}

input:focus {
  border-bottom: 3px rgba(27, 29, 35, 1) solid;
}

input:placeholder-shown {
  color: #c8ccd8;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px 25px 40px;
}

/* input[placeholder="Message"]:placeholder-shown {
  color: #c8ccd8;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 0px 75px 40px;
}

input::placeholder {
  color: #c8ccd8;
}

.error-text-email::after {
  position: absolute;
  content: "Can't be empty";
  top: 0px;
  right: 0;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  font-style: italic;
  padding: 0px 0px 15px 40px;
  margin: 0px 0px 0px 0px;
}

.error-text-name::after {
  position: absolute;
  content: "Can't be empty";
  top: 10px;
  right: 0;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  font-style: italic;
  padding: 0px 0px 15px 40px;
  margin: -7px 0px 0px 0px;
}

.valid-text-name::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 0;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  font-style: italic;
  padding: 0px 0px 15px 40px;
  margin: -7px 0px 0px 0px;
}

.error-text-email::after {
  position: absolute;
  content: "Can't be empty";
  top: 10px;
  right: 0;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  font-style: italic;
  padding: 0px 0px 15px 40px;
  margin: -7px 0px 0px 0px;
}

.valid-text-email::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 0;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  font-style: italic;
  padding: 0px 0px 15px 40px;
  margin: -7px 0px 0px 0px;
}

.error-text-message::after {
  position: absolute;
  content: "Can't be empty";
  top: 10px;
  right: 0;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  font-style: italic;
  padding: 0px 0px 15px 40px;
  margin: -7px 0px 0px 0px;
}

.valid-text-message::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 0;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  font-style: italic;
  padding: 0px 0px 15px 40px;
  margin: -7px 0px 0px 0px;
} */
