@use '../../styles';

@include styles.pageHeaderFaded(0px 0px 220px 0px);

.portfolio-main {
  position: relative;
  @include styles.flexCenter(center, column);
  width: 100vw;
  .portfolio-body {
    @include styles.flexCenter(flex-start, column);
    .container {
      position: relative;
      max-width: 1092px;
      width: 80%;
      margin: calc(2vh + 12px) 0px 0px 0px;
      margin: 0px 0px 150px 0px;
      .three-cards-container1 {
        @include styles.flexCenter(space-between, row);
        width: 100%;
        height: 600px;
        @include styles.portfolioCardDesktop1(image-seraph);
        @include styles.portfolioCardDesktop2(image-eebox);
        @include styles.portfolioCardDesktop3(image-federal);
      }
      .three-cards-container2 {
        @include styles.flexCenter(space-between, row);
        width: 100%;
        height: 600px;
        @include styles.portfolioCardDesktop1(image-del-sol);
        @include styles.portfolioCardDesktop2(image-prototype);
        @include styles.portfolioCardDesktop3(image-228b);
      }
      .three-cards-container3 {
        @include styles.flexCenter(space-between, row);
        width: 100%;
        height: 600px;
        @include styles.portfolioCardDesktop1(image-edelweiss);
        @include styles.portfolioCardDesktop2(image-netcry);
        @include styles.portfolioCardDesktop3(image-hypers);
      }
      .three-cards-container4 {
        @include styles.flexCenter(space-between, row);
        width: 100%;
        height: 600px;
        @include styles.portfolioCardDesktop1(image-sxiv);
        @include styles.portfolioCardDesktop2(image-trinity);
        @include styles.portfolioCardDesktop3(image-paramour);
      }
    }
  }
}
