@use '../../styles';

.sliderContainer {
  position: relative;
  @include styles.flexCenter(center, column);
  width: calc(100vw + 2em);
  max-width: 1366px;
  padding: 0px 0px 0px 0px;
  height: auto;
  @media (max-width: 1365px) {
    display: none;
  }

  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    overflow: hidden;
    .slide {
      opacity: 0;
      transition-duration: 1s ease;
    }

    .slide.active {
      opacity: 1;
      transition-duration: 1s;
      transform: scale(1.08);
    }

    .image {
      position: relative;
      width: auto;
      max-width: 1003px;
      height: 720px;
      object-fit: cover;
    }
    .buttons-container {
      position: absolute;
      bottom: 0;
      left: 0px;
      width: auto;
      height: auto;
      border: 2px solid red;
      margin: 0px 0px 0px 55px;
      .button {
        width: 80px;
        height: 80px;
        background-color: styles.$very-dark-blue;
        cursor: pointer;
        .buttonNumber {
          color: white;
          font-size: 15px;
          line-height: 25px;
        }
      }
      .button.active {
        width: 80px;
        height: 80px;
        background-color: white;
        cursor: pointer;
        .buttonNumber {
          color: styles.$very-dark-blue;
          font-size: 15px;
          line-height: 25px;
        }
      }
    }
  }
}
